body {
	margin: 10px;
	font-size: 15px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 1.5em;
	margin: 0 0 0.5em 0;
	line-height: 1.25em;
	text-overflow: ellipsis;
	overflow: hidden;
	text-rendering: optimizeLegibility;
}

form .error {
	display: block;
	color: #d20;
	font-size: 0.77em;
}

dl.activityData {
	margin: 0.5em 0;
}

dl.activityData dt {
	
}

dl.activityData dd {
	margin: 0 0 0 1em;
	font-weight: bold;
}

ul {
	padding-left: 1.3em;
}

ul li {
	
}

#map {
	height: 300px;
}

/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
	/* Style adjustments for viewports 480px and over go here */
	
}

@media only screen and (min-width: 768px) {
	/* Style adjustments for viewports 768px and over go here */
	body {
		margin: 20px 40px;
	}
	#map {
		height: 500px;
	}
}
